<div class="login">
    <div class="login-item">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form form-login">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required.</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address.</div>
         </div>
        <div class="form-field">
          <label class="user" for="login-username"><span class="hidden">Username</span></label>
          <input id="login-username" formControlName="email" type="text" class="form-input" placeholder="name@example.com" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          
        </div>
        
         <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required.</div>
         </div>
        <div class="form-field">
          <label class="lock" for="login-password"><span class="hidden">Password</span></label>
          <input id="login-password" type="password" class="form-input" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        </div>

        <div class="form-field">
          <input type="submit" value="Log in">
        </div>
      </form>
    </div>
</div>